<div class="container">
    <form action="#!/produto/lista" ng-submit="salvarProduto(produto)" class="mt-2">
        <div class="form-inline">

            <input type="text" ng-model="produto.codigo" class="form-control mr-2 col-2" placeholder="Código">

            <input type="text" ng-model="produto.nome" class="form-control col" placeholder="Nome">

            <input type="text" ng-model="produto.preco" class="form-control ml-2 col-2" placeholder="Preço">

        </div>

        <div class="mt-2 col-12 pr-0">
            <button class="btn float-right blue col-2" type="submit">Salvar</button>
        </div>

    </form>

    {{test}}
</div>
