<div class="container">
    <div class="row-clearfix"></div>
    <div class="row">

        <div class="col">
            <input type="text" name="search" ng-model="search" class="form-control placeholder-awesome"
                   placeholder="&#xf002; Search"/>
        </div>

        <div class="col-auto">
            <a href="#!/produto/create" class="btn blue">Novo</a>
        </div>

    </div>

    <div class="row-clearfix"></div>
    <table class="table table-hover col-12">
        <thead class="blue">
        <tr>
            <th colspan="1">Código</th>
            <th colspan="5">Nome</th>
            <th colspan="2">Preço</th>
            <th colspan="2">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in produtos | orderBy:'codigo' | filter:{nome:search}">
            <th colspan="1" scope="row">{{item.codigo}}</th>
            <td colspan="5">{{item.nome}}</td>
            <td colspan="2">{{item.preco | currency}}</td>
            <td colspan="2">
                <a href="#!/produto/edit/{{item.codigo}}">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="" ng-click="deletarProduto(item)">
                    <i class="fa fa-close"></i>
                </a></td>
        </tr>
        </tbody>
    </table>
</div>